:host {
  display: block;
  width: 100%;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  min-height: 100vh;

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 5rem;
  }
}