@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --color-primary: #2e8ea1;
  --color-secondary: #fc8c97;
  --color-tertiary: #dfeef1;
  --color-orange: #ff9800;
  --color-green: #4caf50;
    --color-red: #f44336;
}

.body-extra-small {
  &,h1,h2,h3 {
    font-size: clamp(1rem, min(1cqw, 1cqh) + 1rem, 1.5rem);
  }
}

.body-small {
  &,h1,h2,h3 {
    font-size: clamp(1rem, min(2cqw, 2cqh) + 1rem, 3rem);
  }
}

.body-medium {
  &,h1,h2,h3 {
    font-size: clamp(1rem, min(5cqw, 5cqh) + 1rem, 5rem);
  }
}

.body-large {
  &,h1,h2,h3 {
    font-size: clamp(1rem, min(5cqw, 5cqh) + 3rem, 5rem);
  }
}

html, body {
  color: var(--color-primary);
  height: auto;
  min-height: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comic Neue", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

button {
  font-family: "Comic Neue", cursive;
  font-size: 1em;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: none;
  background: var(--color-primary);
  color: white;
  fill: white;
  cursor: pointer;
  border-radius: 100px 250px 100px 200px / 200px 100px 200px 100px;

  &:nth-child(2n) {
    border-radius: 200px 100px 200px 100px / 100px 200px 100px 200px;
  }

  &:nth-child(3n) {
    border-radius: 100px 200px 100px 200px / 200px 100px 200px 100px;
  }
}

button[disabled] {
  cursor: auto;
}

button.btn-primary,
a.btn-primary {
  background: var(--color-primary);
  border-radius: 100px 200px 100px 200px / 200px 100px 200px 100px;
}

button.btn-secondary,
a.btn-secondary {
  background: var(--color-secondary);
  color: white;
}

button.btn-tertiary,
a.btn-tertiary {
  background: var(--color-tertiary);
  color: var(--color-primary);
}

button.btn-icon,
a.btn-icon {
  padding: .2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  span {
    padding-right: .5rem;
  }
}

.surface {
  padding: max(.5rem, .2em);
  border-radius: 3rem;
  background-color: var(--color-tertiary);
}

.timer {
  color: var(--color-green);
  font-weight: 500;
}