<div class="top-bar">
  <div class="top-bar__actions-primary">
    <span class="top-bar__action app__action-coins">
        <button class="btn-icon" disabled>
          <fast-svg [name]="'banknote'" />
          <span>{{ coins() }}</span>
        </button>
    </span>
      <span class="top-bar__action app__action-high-score">
        <button class="btn-icon" disabled>
          <fast-svg [name]="'star'" />
          <span>{{ highScore() }}</span>
        </button>
    </span>
  </div>
  @if(false) {
    <button
      class="top-bar__action top-bar__action-settings btn-secondary btn-icon"
      (click)="settingsDialog.showModal()"
    >
      <fast-svg [name]="'settings'" />
    </button>
  }
</div>

<ui-dialog #settingsDialog>
  <span appUiDialogFooter>
     @defer (when settingsDialog.isOpened()) {
       <button
         class="btn-secondary"
       >Save</button>
     }
  </span>
</ui-dialog>